/* 
  TODO
  - repo readme
 */

/* 
  _tree colors_
  #95525c
  #5d262c

  #af99b2
  #746d8c

  _pants colors_
  #3164a1
  #5878a1
  #639dd7
  #956552

  #ab8c77 
*/

* {
  font-family: 'Courier New', Courier, monospace;
}

html {
  position: relative;
}

body {
  /* height: 100%; */
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: linear-gradient(#9cc1e2ac, #ab9bbbac);
}

.triangle, .curtain, .tri-fly {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.triangle.one {
  background: linear-gradient(45deg, rgb(25 238 249 / 0.9) 50%, transparent 50%);
}
.triangle.two {
  background: linear-gradient(-45deg, rgb(245 82 245 / .66) 50%, transparent 50%);
}
.triangle.three {
  background: linear-gradient(225deg, rgb(242 253 68 / .9) 50%, transparent 50%);
}

.triangle.one.touched {
  transform: rotate3d(1, 1, 1, 120deg);
}
.triangle.two.touched {
  transform: rotate(-90deg) translate(100%, 100%);
}
.triangle.three.touched {
  transform: rotate(90deg) translate(100%, 100%);
}
.triangle.touched {
  transition: transform ease 1s;
}

.curtain {
  /* background: white; */
  transition: transform ease 1s;
  background: linear-gradient(#ab9bbbdd, #9cc1e2ee);

}
.curtain.touched {
  transform: rotate(-540deg) translate(100%, 100%);
}
#lud {
  position: absolute;
  top: 37%;
  left: calc(50% - 50px);
  width: 100px;
  height: 50px;  
}
.curtain p {
  position: absolute;
  font-size: 18px;
  text-align: center;
}
.happy {
  bottom: 2vh;
  line-height: 1.5;
  left: calc(50% - 162px);
}
.click-around {
  transform: rotate(-90deg);
  top: 40%;
}
.touch-things {
  right: -145px;
  transform: rotate(90deg);
  top: 40%;
}

.tri-fly.tf-1 {
  background: linear-gradient(45deg,#95525cee 35%, transparent 50%);
  transition: transform ease 1s 1.8s;
}
.tri-fly.tf-2 {
  background: linear-gradient(-45deg,#5d262cee 35%, transparent 50%);
  transition: transform ease 1s 1.7s;
}
.tri-fly.tf-3 {
  background: linear-gradient(225deg,#af99b2ee 35%, transparent 50%);
  transition: transform ease 1s 1.6s;
}
.tri-fly.tf-4 {
  background: linear-gradient(-225deg,#746d8cee 35%, transparent 50%);
  transition: transform ease 1s 1.5s;
}
.tri-fly.tf-5 {
  background: linear-gradient(45deg,#3164a1ee 35%, transparent 50%);
  transition: transform ease 1s 1.4s;
}
.tri-fly.tf-6 {
  background: linear-gradient(-45deg,#5878a1ee 35%, transparent 50%);
  transition: transform ease 1s 1.3s;
}
.tri-fly.tf-7 {
  background: linear-gradient(225deg,#639dd7ee 35%, transparent 50%);
  transition: transform ease 1s 1.2s;
}
.tri-fly.tf-8 {
  background: linear-gradient(-225deg,#956552ee 35%, transparent 50%);
  transition: transform ease 1s 1.1s;
}

.tri-fly.tf-1.touched,
.tri-fly.tf-3.touched,
.tri-fly.tf-5.touched,
.tri-fly.tf-7.touched {
  transform: rotate(900deg) translate(100%, 100%);
}

.tri-fly.tf-2.touched,
.tri-fly.tf-4.touched,
.tri-fly.tf-6.touched,
.tri-fly.tf-8.touched {
  transform: rotate(-900deg) translate(100%, 100%);
}

.corner {
  width: 100px;
  height: 100px;
  position: absolute;
}
.corner.top {
  background: linear-gradient(135deg, #9cc1ddbb 50%, transparent 50%);
  top: 0;
  left: 0;
}
.corner.bottom {
  background: linear-gradient(135deg, transparent 50%, #ab9bddbb 50%);
  bottom: 0;
  right: 0;
}

.frame {
  overflow: hidden;
  margin: auto;
  padding: 10%;
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
}
img {
  transition: transform ease .5s;
  /* height: 100%; */
  width: 100%;
}
img:hover {
  transform: scale(1.02);
}

.contribute {
  bottom: 2vh;
  width: 100%;
  display: inline-block;
  text-align: center;
}